<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no" 
style="--vh:2.19px;--bot-background:#ffffff;
--plyr-audio-controls-background:#ffffff;--user-background:#e2f7cb;">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ищешь надежную работу в Интернете без обмана и вложений?</title>
    <link id="appFavicon" rel="icon" type="/./static/media/icon.png" 
            href="/./static/media/icon.png">
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
	<link id="appFavicon" rel="icon" type="{% static 'media/icon.png' %}" 
            href="{% static 'media/icon.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'src/configChatBot.js' %}" defer ></script>
    <script src="{% static 'src/createButtons.js' %}" defer ></script>
    <script src="{% static 'src/createRespond.js' %}" defer ></script>
    <script src="{% static 'src/createUserAnswer.js' %}" defer ></script>
    <script src="{% static 'src/eventListeners.js' %}" defer ></script>
    <script src="{% static 'src/sendForm.js' %}" defer ></script>
    <script src="{% static 'src/createForm.js' %}" defer ></script>
    <script src="{% static 'src/createVideo.js' %}" defer ></script>
    <script src="{% static 'src/index.js' %}" defer ></script>
</head>
<body>
    <div class="wrapper">
        <div class="content-wrapper" id="scrollframe">
            <div class="correspondence">
                </div>    
        </div>    
    </div>
</body>
</html>