<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ищешь надежную работу в Интернете без обмана и вложений?</title>
    <link id="appFavicon" rel="icon" type="https://botapi.vekrosta.ru/media/-favicon_P8GsoFd.png" 
            href="https://botapi.vekrosta.ru/media/-favicon_P8GsoFd.png">
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="start-page">
        <div class="start-page-content">
            <h1 class="text">Ищешь надежную работу в Интернете без обмана и вложений?</h1>
            <div class="text">За 15 минут мы бесплатно расскажем, 
                как начать зарабатывать уже сегодня!</div>
            <button class="start-btn" onclick="window.location.href='chat/'">Начать</button>
        </div>
    </div>
</body>
</html>